@page "{rideId}"
@model Sommerland.Web.Pages.RidesModel
@{
    ViewData["Title"] = "Rides";
    bool isTrue = int.TryParse((string)RouteData.Values["rideId"], out int rideId);
}

<div>
    <h1>@Model.Ride.Name</h1>
    <p><strong>Category:</strong> @Model.Ride.Category</p>
    <p><strong>Status:</strong> @Model.Ride.Status</p>
    <p><strong>Description:</strong> @Model.Ride.Description</p>
    <p><strong>Number Of Shutdowns:</strong> @Model.Ride.NumberOfShutdowns()</p>
</div>
