@page "{RideId}"
@model Sommerland.Web.Pages.RidesModel
@{
    ViewData["Title"] = "Rides";
}

<div>
    <h1>@Model.Ride.Name</h1>
    <p><strong>Category:</strong> @Model.Ride.Category.Name</p>
    <p><strong>Status:</strong> @Model.Ride.Status</p>
    <p><strong>Description:</strong> @Model.Ride.Description</p>
    <p><strong>Number Of Shutdowns:</strong> @Model.Ride.NumberOfShutdowns()</p>
    <p><strong>Number of Days since last Shutdown:</strong> @Model.Ride.DaysSinceLastShutdown()</p>
</div>
